<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") }}">
</head>
<script>
    function highlightWordGroup(tagName) {
        if (tagName != "group-None") {
            for (word of document.getElementsByClassName(tagName)) {
                word.style.backgroundColor = "yellow";
            }
        }
    }
    
    function clearWords() {
        for (word of document.getElementsByClassName("word")) {
            word.style.backgroundColor = "transparent"; 
        }
    }
</script>
<div class="textmain">
    <div class="flex-container">
        {% for line in text_src %}
        <div class="line-pair">
            <div class="line target">
                {% for word, tagname in line %}
                <span class="word {{ tagname }}" onmouseover="highlightWordGroup('{{ tagname }}')" onmouseout="clearWords()">{{ word }}</span>
                {% endfor %}
            </div>
            <div class="line source">
                {% for word, tagname in text_tgt[loop.index0] %}
                <span class="word {{ tagname }}" onmouseover="highlightWordGroup('{{ tagname }}')" onmouseout="clearWords()">{{ word }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</html>
